body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
	background: #111;
	color: white;
	text-align: center;
}

.bar {
	display: inline-block;
	border: 1px solid red;
	border-radius: 2px;
	overflow: hidden;
	width: 100px;
	margin: 0 3px;

}

.bar .fill {
	background: red;
	height: 0.8em;
	display: block;
}

div[data-text]:after {
	content: attr(data-text);
	position: absolute;
	display: block;
	width: 100px;
	font-size: 0.7em;
	padding-top: 0.05em;
	text-align: center;
}

.wholeScreen {
	max-height: 100vh;
	overflow: hidden
}

.viewport {
	display: inline-block;
}

.row {
	font-size: 0;
}

.wall, .floor, .enemy, .item, .player, .health, .weapon, .exit, .darkness {
	display:inline-block;
	width: 2.5vmin;
	height: 2.5vmin;
}

.wall {
	background: #111;
	/*border-radius: 1px; */
}

.floor {
	background: #333;
	border-radius: 1px;
}

.player {
	background: blue;
}

.enemy {
	background: red;
}

.health {
	background: green;
}
.weapon {
	background: yellow;
}
.exit {
	background: purple;
}

.boss {
	background: orange !important;
}
.darkness {
	background: #000;
}
