body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
	background: #111;
	color: white;
	text-align: center;
}

.onMapHpBar {
	border: 1px solid black;
	width: 3vmin;
	height: 0.3vmin;
	bottom: 1vmin;
	left: -0.3vmin;
	position: relative;
}

.onMapHpBar .redFill {
	background: red;
	height: 0.3vmin;
}

.onMapHpBar .greenFill {
	background: green;
	height: 0.3vmin;
}

.bar {
	display: inline-block;
	border: 1px solid red;
	border-radius: 2px;
	overflow: hidden;
	width: 100px;
	margin: 0 3px;

}

.bar .fill {
	background: red;
	height: 0.8em;
	display: block;
}

div[data-text]:after { /*This is being used by player health to show text, need rename*/
	content: attr(data-text);
	position: absolute;
	display: block;
	width: 100px;
	font-size: 0.7em;
	padding-top: 0.05em;
	text-align: center;
}
div[data-label]:before {
    content: attr(data-label);
    font-size: 1vmin;
    position: absolute;
    color: white;
    z-index: 2;
    width: 5vmin;
   text-align: center;
    display: block;
    margin-left: -1.25vmin;
		text-shadow: 0.1vmin 0.1vmin black;
		margin-top: 0.7vmin;
    /* border: 1px solid black; */
    border-radius: 1vmin;
}
.wholeScreen {
	max-height: 100vh;
	overflow: hidden
}

.viewport {
	display: inline-block;
}

.row {
	font-size: 0;
}

.wall, .floor, .enemy, .item, .player, .health, .weapon, .exit, .darkness {
	display:inline-block;
	width: 2.5vmin;
	height: 2.5vmin;
	position: relative;
}

.wall {
	background: #111;
	/*border-radius: 1px; */
}

.floor {
	background: #333;
	border-radius: 1px;
}

.player {
	background: blue;
}

.enemy {
	background: red;
}

.health {
	background: green;
}
.weapon {
	background: #963;
}
.exit {
	background: purple;
}

.boss {
	background: orange !important;
}

.darkness {
	background: #111;
}

.notification {
	position: absolute;
	background: purple;
	top: 25vmin;
	left: 25vmin;
	padding: 20vmin;
	animation-name: fade;
	animation-duration: 4s;
}

@keyframes fade {
	25% {opacity: 0.75;}
	50% {opacity: 0.50;}
	100% {opacity: 0}
}
