body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.row {
	font-size: 0;
}

.wall, .floor, .enemy, .item, .player, .health, .weapon {
	display:inline-block;
	width: 10px;
	height: 10px;
}

.wall {
	background: #111;
	border-radius: 1px;
}

.floor {
	background: #333;
	border-radius: 1px;
}

.player {
	background: blue;
}

.enemy {
	background: red;
}

.health {
	background: green;
}
.weapon {
	background: yellow;
}
